{
  "extends": ["auto"],   
  "ignorePatterns": ["js/*", "dist/*"],
  "env": {
    "amd": true,
    "browser": true,
    "jasmine": true,
    "jest": true,
    "commonjs": true,
    "es2020": true
  },
  "globals": {
    "location": true
  },
"parserOptions": { "ecmaVersion": 2020 },
  "rules": {
    "const-case/uppercase": 0,
    "func-names": 0,
    "global-require": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "no-shadow": 0,
    "prefer-rest-params": 0,
    "import/no-amd": 0,
    "lodash/prefer-noop": 0,
    "pii/no-email": 0,
    "sonarjs/no-nested-template-literals": 0,
    "switch-case/no-case-curly": 0,
    "unicorn/consistent-function-scoping": 0,
    "unicorn/no-array-callback-reference": 0,
    "unicorn/no-this-assignment": 0,
    "unicorn/prefer-module": 0,
    "unicorn/prefer-query-selector": 0,
    "unicorn/prevent-abbreviations": 0,
    "xss/no-mixed-html": 0
  }
}
