.DS_Store
.coveralls.yml
.idea
.prettierrc
.travis.yml
.github
node_modules
bin
docs
example
test
spec
src
npm-debug.log
bower_components
bower.json
gruntfile.js
karma.conf.js
test-main.js
package-lock.json
coverage*
